:root {
  --main-color: #14a307;
  --primary-bg-color: #fff;
  --secondary-bg-color: rgb(246, 243, 243);
  --primary-text-color: #222;
  --secondary-text-color: #666;
}

section {
  margin: 0;
  /* min-height: 100vh; */
  padding: 0.6vmax 0.6vmax 6vmax 0.6vmax;
  background-color: var(--secondary-bg-color);
}

.heading {
  font-size: 2vmax;
  color: var(--primary-text-color);
  text-align: center;
  width: 22vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.services .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services .box-container .box {
  background: var(--primary-bg-color);
  border-radius: 0.3vmax;
  box-shadow: 0 0.3vmax 0.6vmax rgba(0, 0, 0, 0.1);
  margin: 0.6vmax;
  padding: 0.6vmax;
  width: 18vmax;
  text-align: center;
  position: relative;
  z-index: 0;
}

.services .box-container .box .number {
  position: absolute;
  top: 0.9vmax;
  left: 1.2vmax;
  font-size: 1.5vmax;
  color: var(--primary-text-color);
}

.services .box-container .box img {
  height: 5.5vmax;
  width: 5.5vmax;
  margin: 0.6vmax;
}

.services .box-container .box h3 {
  font-size: 1.7vmax;
  color: var(--main-color);
}

.services .box-container .box p {
  font-size: 1.2vmax;
  color: var(--secondary-text-color);
  padding: 0.6vmax;
}

.services .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--main-color);
  z-index: 0;
  clip-path: circle(25% at 0 0);
  opacity: 0.1;
  transition: 0.3s;
}

.services .box-container .box:hover::before {
  clip-path: circle(100%);
}

/* media queries  */

@media (max-width: 991px) {
  section {
    padding: 1vmax;
    padding-bottom: 6vmax;
    /* padding: 0 3%; */
  }
}

@media (max-width: 400px) {
  .services .box-container .box {
    width: 100%;
  }
}
